<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="model" value="ALTC"/>
    <add key="labelFileName" value="ALTCLBL"/>
	<add key="labelsModel" value="ALTC"/>
    <add key="aosServicePath" value="J:\AosService\PackagesLocalDirectory"/>
    <add key="labelPrefix" value=""/>
  </appSettings>
</configuration>